<main >
    <h1  class="p-3 m-0 bg-warning text-dark">Products Earnings</h1>
    <section>
      <div *ngIf="productsDetails.length > 0" style="width: 100%;" class="table-container" >
        <table class="table table-striped">
  
          <thead class="table-dark">
            <tr>
              <th>Product Name</th>
              <th>Earnings</th>
              <th>Quantity Sold</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productsDetails">
              <td>{{ product.productName }}</td>
              <td>{{ product.earnings | currency }}</td>
              <td>{{ product.quantitySold }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center" *ngIf="productsDetails.length == 0">
        <table class="product-table">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Earnings</th>
              <th>Quantity Sold</th>
            </tr>
          </thead>
        </table>
        <img src="../../../assets/EmptyCart.png" style="padding: 20px; text-align: center; justify-content: center; width: 40%; max-height: 500px;" alt="">
      </div>
  
    </section>
  </main>
  