
*.vsidx
*.cache
*.dll
Amazon/ServerSide/Amazon.Solution/Amazon.API/bin/
Amazon/ServerSide/Amazon.Solution/Amazon.API/obj/
Amazon/ServerSide/Amazon.Solution/Amazon.Core/bin/
Amazon/ServerSide/Amazon.Solution/Amazon.Core/obj/
Amazon/ServerSide/Amazon.Solution/Amazon.Services/bin/
Amazon/ServerSide/Amazon.Solution/Amazon.Services/obj/
Amazon/ServerSide/Amazon.Solution/Amazone.Infrastructure/bin/
Amazon/ServerSide/Amazon.Solution/Amazone.Infrastructure/obj/
Amazon/ServerSide/Amazon.Solution/.vs/
