
*.vsidx
*.cache
*.cache
Amazon/ServerSide/Amazon.Solution/Amazon.API/obj/Debug/net8.0/Amazon.API.AssemblyInfoInputs.cache
Amazon/ServerSide/Amazon.Solution/Amazon.API/obj/Debug/net8.0/Amazon.API.assets.cache
Amazon/ServerSide/Amazon.Solution/Amazon.API/obj/Debug/net8.0/Amazon.API.AssemblyInfoInputs.cache
Amazon/ServerSide/Amazon.Solution/Amazon.API/obj/Debug/net8.0/Amazon.API.assets.cache
Amazon/ServerSide/Amazon.Solution/Amazon.Core/obj/project.nuget.cache
Amazon/ServerSide/Amazon.Solution/.vs/Amazon.Solution/FileContentIndex/50eb33a4-b024-4fe7-aafc-2f866820b06c.vsidx
Amazon/ServerSide/Amazon.Solution/.vs/Amazon.Solution/FileContentIndex/c4c144ad-cebd-4507-9962-2f8169231dc2.vsidx
*.vsidx
*.vsidx
*.v2
/Amazon/ServerSide/Amazon.Solution/.vs
Amazon/ServerSide/Amazon.Solution/.vs/Amazon.Solution/DesignTimeBuild/.dtbcache.v2
Amazon/ServerSide/Amazon.Solution/.vs/Amazon.Solution/v17/.futdcache.v2
Amazon/ServerSide/Amazon.Solution/.vs/Amazon.Solution/v17/.suo
Amazon/ServerSide/Amazon.Solution/.vs/Amazon.Solution/v17/DocumentLayout.backup.json
Amazon/ServerSide/Amazon.Solution/.vs/Amazon.Solution/v17/DocumentLayout.json
Amazon/ServerSide/Amazon.Solution/.vs/ProjectEvaluation/amazon.solution.metadata.v9.bin
Amazon/ServerSide/Amazon.Solution/.vs/ProjectEvaluation/amazon.solution.projects.v9.bin
Amazon/ServerSide/Amazon.Solution/Amazon.API/obj/Debug/net8.0/Amazon.API.AssemblyInfoInputs.cache
Amazon/ServerSide/Amazon.Solution/Amazon.API/obj/Debug/net8.0/Amazon.API.AssemblyInfo.cs
Amazon/ServerSide/Amazon.Solution/Amazon.API/obj/Debug/net8.0/Amazon.API.csproj.AssemblyReference.cache
Amazon/ServerSide/Amazon.Solution/Amazon.Core/obj/Debug/net8.0/Amazon.Core.AssemblyInfo.cs
Amazon/ServerSide/Amazon.Solution/Amazon.Services/obj/Debug/net8.0/Amazon.Services.AssemblyInfo.cs
Amazon/ServerSide/Amazon.Solution/Amazone.Infrastructure/obj/Debug/net8.0/Amazone.Infrastructure.csproj.AssemblyReference.cache
Amazon/ServerSide/Amazon.Solution/Amazone.Infrastructure/obj/Debug/net8.0/Amazone.Infrastructure.AssemblyInfoInputs.cache
Amazon/ServerSide/Amazon.Solution/Amazone.Infrastructure/obj/Debug/net8.0/Amazone.Infrastructure.AssemblyInfo.cs
Amazon/ServerSide/Amazon.Solution/Amazon.Services/obj/Debug/net8.0/Amazon.Services.csproj.AssemblyReference.cache
Amazon/ServerSide/Amazon.Solution/Amazon.Services/obj/Debug/net8.0/Amazon.Services.AssemblyInfoInputs.cache
Amazon/ServerSide/Amazon.Solution/Amazon.Core/obj/Debug/net8.0/Amazon.Core.AssemblyInfoInputs.cache
Amazon/ServerSide/Amazon.Solution/Amazon.Core/obj/Debug/net8.0/Amazon.Core.AssemblyInfo.cs
Amazon/ServerSide/Amazon.Solution/Amazon.Services/obj/Debug/net8.0/Amazon.Services.AssemblyInfo.cs
/Amazon/ServerSide/Amazon.Solution/Amazon.API/obj
*.cache
/Amazon/ServerSide/Amazon.Solution/Amazon.Core/obj
*.cache
/Amazon/ServerSide/Amazon.Solution/Amazon.Services/obj
/Amazon/ServerSide/Amazon.Solution/Amazone.Infrastructure/obj
Amazon/ServerSide/Amazon.Solution/Amazon.API/obj/Debug/net8.0/Amazon.API.AssemblyInfo.cs
Amazon/ServerSide/Amazon.Solution/Amazon.API/obj/Debug/net8.0/Amazon.API.AssemblyInfoInputs.cache
Amazon/ServerSide/Amazon.Solution/Amazon.Core/obj/Debug/net8.0/Amazon.Core.AssemblyInfo.cs
Amazon/ServerSide/Amazon.Solution/Amazon.Core/obj/Debug/net8.0/Amazon.Core.AssemblyInfoInputs.cache
Amazon/ServerSide/Amazon.Solution/Amazon.Services/obj/Debug/net8.0/Amazon.Services.AssemblyInfo.cs
Amazon/ServerSide/Amazon.Solution/Amazon.Services/obj/Debug/net8.0/Amazon.Services.AssemblyInfoInputs.cache
Amazon/ServerSide/Amazon.Solution/Amazone.Infrastructure/obj/Debug/net8.0/Amazone.Infrastructure.AssemblyInfo.cs
Amazon/ServerSide/Amazon.Solution/Amazone.Infrastructure/obj/Debug/net8.0/Amazone.Infrastructure.AssemblyInfoInputs.cache
