<div class="address-book-container">

  <div>
    <h1>Manage Address Book</h1>
  </div>

  <div style="display: flex; flex-direction: row-reverse; width: 100%">
    <button class="btn btn-primary" (click)="openAddForm()">Add New Address</button>
  </div>

    <div class="my-3 mx-auto w-100 max-width-1200 address-list">

        <!-- Add New Address Section -->
<!--        <div class="p-4 m-2 text-center shadow-sm custom-box add-address-box">-->
<!--            <h3>Add New Address</h3>-->
<!--            <button class="btn btn-primary" (click)="openAddForm()">Add New Address</button>-->
<!--        </div>-->

        <!-- No Address Found -->
        <div *ngIf="savedAddresses.length === 0" class="border p-4 m-2 text-center shadow-sm custom-box saved-addresses">
            <h3 class="text-start mt-2 mb-2 address-name"
                style="font-family: 'Amazon Ember', Arial, sans-serif; font-size: 14px;">
                No Address Found
            </h3>
        </div>

        <!-- List of Saved Addresses -->
        <div *ngFor="let address of savedAddresses" class="border p-4 m-2 text-center shadow-sm custom-box saved-addresses">
            <h3 class="fw-bold fs-5 text-left mt-2 mb-3 address-name"
                style="font-family: 'Amazon Ember', Arial, sans-serif; font-size: 14px;">
                {{address.firstName}}
            </h3>
            <p class="text-start lh-lg mt-2 mb-2 address-info"
                style="font-family: 'Amazon Ember', Arial, sans-serif; font-size: 14px;">
                {{address.streetAddress}}<br/>
                {{address.buildingName}}<br/>
                {{address.city}}<br />
                {{address.district}}<br/>
                {{address.governorate}}<br />
                <strong>Phone Number:</strong> {{address.phoneNumber}}
            </p>
            <div class="d-flex justify-content-start gap-2 custom-margin-top address-buttons">
                <button class="edit-btn"
                        (click)="openEditForm(address)">
                    Edit
                </button> &nbsp; | &nbsp;
                <button class="delete-btn"
                        (click)="deleteAddress(address.id)">
                    Delete
                </button> &nbsp; | &nbsp;
                <button class="default-btn"
                        (click)="onSetDefaultAddress(address.id)">
                    Set Default
                </button>
            </div>
        </div>
    </div>

    <!-- Add/Edit Address Form Modal -->
    <div *ngIf="showEditAddressForm"
         class="d-flex justify-content-center align-items-start position-fixed top-0 start-0 w-100 h-100 overflow-auto popup"
         style="background-color: rgba(0, 0, 0, 0.7); z-index: 1000;">
        <div class="bg-white p-4 rounded shadow w-100 position-relative popup-content"
             style="max-width: 600px;">
            <span class="position-absolute close-btn"
                  style="top: 10px; right: 15px; font-size: 30px; color: #aaa; cursor: pointer;"
                  (click)="closeForm()">
                &times;
            </span>

          <form class="row g-3" [formGroup]="EditAddressForm" (ngSubmit)="editAddress()">

            <div class="col-md-6">
              <label for="Countrye" class="form-label">Country</label>
              <select id="Countrye" class="form-select" formControlName="Country" >
                <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
              </select>
            </div>

            <input type="hidden" class="form-control" id="id" formControlName="id" required>

            <div class="col-md-6">
              <label for="Citye" class="form-label">City</label>
              <input type="text" class="form-control" id="Citye" formControlName="City" required>
              <span *ngIf="!EditAddressForm.get('City').valid && EditAddressForm.get('City').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-6">
              <label for="Governoratee" class="form-label">Governorate</label>
              <input type="text" class="form-control" id="Governoratee" formControlName="Governorate" aria-describedby="inputGroupPrepend2" required>
              <span *ngIf="!EditAddressForm.get('Governorate').valid && EditAddressForm.get('Governorate').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-6">
              <label for="Districte" class="form-label">District</label>
              <input type="text" class="form-control" id="Districte" formControlName="District" aria-describedby="inputGroupPrepend2" required>
              <span *ngIf="!EditAddressForm.get('District').valid && EditAddressForm.get('District').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-12">
              <label for="streetAddresse" class="form-label">Street Address</label>
              <input type="text" class="form-control" id="streetAddresse" formControlName="StreetAddress" aria-describedby="inputGroupPrepend2" required>
              <span *ngIf="!EditAddressForm.get('StreetAddress').valid && EditAddressForm.get('StreetAddress').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-6">
              <label for="BuildingNamee" class="form-label">District</label>
              <input type="text" class="form-control" id="BuildingNamee" formControlName="BuildingName" aria-describedby="inputGroupPrepend2" required>
              <span *ngIf="!EditAddressForm.get('BuildingName').valid && EditAddressForm.get('BuildingName').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-6">
              <label for="nearestLandmarke" class="form-label">Nearest Landmark</label>
              <input type="text" class="form-control" id="nearestLandmarke" formControlName="NearestLandMark" name="nearestLandmark" required/>
              <span *ngIf="!EditAddressForm.get('NearestLandMark').valid && EditAddressForm.get('NearestLandMark').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-6">
              <label for="FirstNamee" class="form-label">First Name</label>
              <input type="text" class="form-control" id="FirstNamee" formControlName="FirstName" name="FirstNamee" required/>
              <span *ngIf="!EditAddressForm.get('FirstName').valid && EditAddressForm.get('FirstName').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-6">
              <label for="lastNamee" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastNamee" formControlName="LastName" name="lastName" required/>
              <span *ngIf="!EditAddressForm.get('LastName').valid && EditAddressForm.get('LastName').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-12">
              <label for="phoneNumbere" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="phoneNumbere" minlength="11" maxlength="11" formControlName="Phonenumber" name="phoneNumber" required/>
              <span *ngIf="!EditAddressForm.get('Phonenumber').valid && EditAddressForm.get('Phonenumber').touched" class="text-danger">Required & Numbers Only</span>
            </div>

            <div class="col-12">
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-warning">Edit</button>
              <button type="button" (click)="closeEditForm()" class="btn btn-danger" style="float: right">Cancel</button>
            </div>
          </form>
        </div>
    </div>

  <div *ngIf="showAddAddressForm"
         class="d-flex justify-content-center align-items-start position-fixed top-0 start-0 w-100 h-100 overflow-auto popup"
         style="background-color: rgba(0, 0, 0, 0.7); z-index: 1000;">
        <div class="bg-white p-4 rounded shadow w-100 position-relative popup-content"
             style="max-width: 600px;">
            <span class="position-absolute close-btn"
                  style="top: 10px; right: 15px; font-size: 30px; color: #aaa; cursor: pointer;"
                  (click)="closeForm()">
                &times;
            </span>

          <form class="row g-3" [formGroup]="AddressForm" (ngSubmit)="onSubmit()">

            <div class="col-md-6">
              <label for="Country" class="form-label">Country</label>
              <select id="Country" class="form-select" formControlName="Country">
                <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
              </select>
            </div>

            <div class="col-md-6">
              <label for="City" class="form-label">City</label>
              <input type="text" class="form-control" id="City" formControlName="City" required>
              <span *ngIf="!AddressForm.get('City').valid && AddressForm.get('City').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-6">
              <label for="Governorate" class="form-label">Governorate</label>
              <input type="text" class="form-control" id="Governorate" formControlName="Governorate" aria-describedby="inputGroupPrepend2" required>
              <span *ngIf="!AddressForm.get('Governorate').valid && AddressForm.get('Governorate').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-6">
              <label for="District" class="form-label">District</label>
              <input type="text" class="form-control" id="District" formControlName="District" aria-describedby="inputGroupPrepend2" required>
              <span *ngIf="!AddressForm.get('District').valid && AddressForm.get('District').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-12">
              <label for="streetAddress" class="form-label">Street Address</label>
              <input type="text" class="form-control" id="streetAddress" formControlName="StreetAddress" aria-describedby="inputGroupPrepend2" required>
              <span *ngIf="!AddressForm.get('StreetAddress').valid && AddressForm.get('StreetAddress').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-6">
              <label for="BuildingName" class="form-label">District</label>
              <input type="text" class="form-control" id="BuildingName" formControlName="BuildingName" aria-describedby="inputGroupPrepend2" required>
              <span *ngIf="!AddressForm.get('BuildingName').valid && AddressForm.get('BuildingName').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-6">
              <label for="nearestLandmark" class="form-label">Nearest Landmark</label>
              <input type="text" class="form-control" id="nearestLandmark" formControlName="NearestLandMark" name="nearestLandmark" required/>
              <span *ngIf="!AddressForm.get('NearestLandMark').valid && AddressForm.get('NearestLandMark').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-6">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstName" formControlName="FirstName" name="firstName" required/>
              <span *ngIf="!AddressForm.get('FirstName').valid && AddressForm.get('FirstName').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-6">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" formControlName="LastName" name="lastName" required/>
              <span *ngIf="!AddressForm.get('LastName').valid && AddressForm.get('LastName').touched" class="text-danger">Required Field</span>
            </div>

            <div class="col-md-12">
              <label for="phoneNumber" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="phoneNumber" formControlName="Phonenumber" minlength="11" maxlength="11" name="phoneNumber" required/>
              <span *ngIf="!AddressForm.get('Phonenumber').valid && AddressForm.get('Phonenumber').touched" class="text-danger">Required & Numbers Only</span>
            </div>

            <div class="col-12">
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary">Add</button>
              <button type="button" (click)="closeForm()" class="btn btn-danger" style="float: right">Cancel</button>
            </div>
          </form>
        </div>
    </div>
</div>
