<div class="Container">

  <aside class="p-4" style="border-right: 1px solid gray; width: 300px;">
    <div class="mb-2">
      <h4 style="font-weight:bolder;">Shop by Category</h4>
      <ul class="list-unstyled">

        <li style="font-weight: 500;">
          <a [routerLink]="['/category' ,ParentCategoryName]" routerLinkActive="router-link-active"
            routerLinkActive="router-link-active" class="list-group-item">
            {{ParentCategoryName}}</a>
          <ul class="list-group-numbered">  
            @for (parentcategory of parentcategories; track parentcategory.id)
            {
            @if(parentcategory.name == ParentCategoryName)
            {
            @for (category of parentcategory.categories; track $index)
            {
            <li>
              <a [routerLink]="['/category' ,  ParentCategoryName,category]" routerLinkActive="router-link-active"
                routerLinkActive="router-link-active" class="list-group-item" href="#">&#x3c;{{category}}
              </a>
            </li>
            }
            }
            }
          </ul>
        </li>

      </ul>
    </div>
    <div class="mb-2">
      <h6>Fulfilled by Amazon</h6>
      <input type="checkbox" id="FulfilledbyAmazon">
      <label for="FulfilledbyAmazon" class="mx-1">Fulfilled by Amazon</label>
    </div>
    <div>
      <h6>Eligible for Free Shipping</h6>
      <input type="checkbox" id="FreeShipping">
      <label for="FreeShipping" class="mx-1">Free Shipping</label>
    </div>
    <div>
      <h6>Price</h6>
      <div>
        <input type="text" placeholder="Min Value" id="minValue">
        <input type="text" placeholder="Max Value" id="maxValue">
      </div>
      <!-- <input type="range" id="price" min="1" max="1000000"> -->
    </div>
    <button (click)="filterProducts()">filter</button>
  </aside>

  <main>
    <div class="products mt-4">
      @for (product of products ; track $index) {
        <app-product-card [product] = product></app-product-card>
      }
    </div>
  </main>
</div>