<nav id="nav">

    <div class="nav p-1 navbar">

        <div id="title">
            <button class="navbar-toggler burger-menu-contianer-res" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" (click)="toggleMenu()"></span>
            </button>
            <a [routerLink]="['/']" class="p-3">
                <img src="White-Amazon-Logo.png" alt="">
            </a>

            @if(isAuthenticated) 
            {
                <button class="Change-Address" (click)="toggleAddressForm()">Deliver to <i class="fas fa-map-marker-alt" style="color: white; padding: 10px; border-radius: 50%;"></i></button>
                <div *ngIf="addressFormVisible">
                    <app-address-form (addressAdded)="addressFormVisible = false"></app-address-form>
                </div>
            }

        </div>

        <div class="input-container">
            <div>

                <select name="" id="" #Category>
                    <option value="All">All</option>
                    <option value="1">Phones</option>
                    <option value="2">Laptops</option>
                    <option value="3">Tablets</option>
                    <option value="4">Air Conditioners</option>
                    <option value="5">Washing Machines</option>
                    <option value="6">Ovens</option>
                </select>
                <input #query type="search" name="" id="search" class="form-control" placeholder="Search"
                    (keyup.enter)="search(query.value)" />
                <!-- <div class="btn btn-primary" (click)="search(query.value)">
                <svg fill="#ffffff" height="20px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    viewBox="0 0 488.4 488.4" xml:space="preserve">
                    <g>
                    <g>
                        <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6
                        s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2
                        S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7
                        S381.9,104.65,381.9,203.25z"/>
                    </g>
                    </g>
                </svg>
                </div> -->
            </div>
        </div>

        <div style="display: flex;" class="links">
            <a [routerLink]="['/wishlist', ('wishlist-'+getGuid())]" style="display: flex; align-items: end;"class="p-2 mx-1">WISHLIST</a>
            <div class="dropdown-container">
                <button class="dropdown-btn">Account & Lists</button>
                <div class="dropdown-content p-2">
                    <div class="signin-btn">
                        @if(isAuthenticated)
                        {
                        }
                        @else 
                        {
                            <a routerLink="/login">Sign In</a>
                        }
                    </div>
                    <div style="display: flex;">
                        <div>
                            <h5>Your Account</h5>
                            <a href="#">Your Account</a>
                            <a routerLink="/Your-Orders">Your Orders</a>
                            <a href="#">Your Addresses</a>
                            <a href="#">Your Lists</a>
                            <a [routerLink]="['/seller/product-list']">Your Seller Account</a>
                            @if(isAuthenticated)
                            {
                                <a (click)="SignOut()">Sign Out</a>
                            }
                            @else 
                            {
                            }
                        </div>
                    </div>
                </div>
            </div>

            <a routerLink="/order" style="display: flex; align-items: end; cursor: pointer;" class="p-2">Orders</a>
            <a [routerLink]="['/cart', ('cart-'+getGuid()) ]" class="p-2 mx-1" style="display: flex; align-items: end;">
                <div style="display: flex; flex-direction: column; align-items: center; height: 39px; position: relative;">
                    <span style="position: absolute; color: #f08804;">{{cartQnt}}</span>
                    <svg width="38" height="26" xmlns="http://www.w3.org/2000/svg" style="position: relative; top: 10px;">
                        <path d="M1.25 1.25 L5 1.25 L11.25 20 L25 20 L35 5" stroke="white" stroke-width="4" fill="none" />
                    </svg>
                </div>
                Cart 
            </a>
        </div>
    </div>

    <div class="lower-nav">

        <div class="burger-menu-contianer">
            <div class="burger-menu" (click)="toggleMenu()">
                <div [ngClass]="['line1', open ? 'line1O' : '']"></div>
                <div [ngClass]="['line2', open ? 'line2O' : '']"></div>
                <div [ngClass]="['line3', open ? 'line3O' : '']"></div>
            </div>
        </div>

        <a routerLink="/">Home</a>
        <a routerLink="/Discount">Today's Deals</a>
        <a routerLink="/category/Electronics">Elctronics</a>
        <a routerLink="/category/Electronics/Phones">Mobile Phones</a>
        <a routerLink="/seller/product-list">Sell</a>
    </div>

</nav>

<div class="sidebar" [style.translate]="open ?'0px':'-400px'">
    <div class="mb-3 authbar">
        <img src="user.svg" alt="">
        <h4 class="m-lg-2">Hello, 
            @if(userName)
            {
                {{userName}}
            }
            @else 
            {
                Sign In
            }
        </h4>
    </div>
    <app-category-list></app-category-list>
</div>

<div class="overlay" [style.display]="open ?'block':'none'" (click)="toggleMenu()"></div>

