nav{
    width: 100%;
    margin-inline: auto;
    background-color: #131921;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .burger-menu-contianer-res
    {
      display: none;
    }
    a{
        text-decoration: none;
        color: black;
        img{
            width: 100px;
        }
        &:hover{
          outline: 1px solid white;
        }
    }
    .input-container{
        display: flex;
        align-items: center;
        width: 50%;
        div{
            /* border: 1px solid gray; */
            border-radius: 5px;
            display: flex;
            width: 100%;
            input{
                border: none;
                display: inline-block;
                background: #f1f1f1;
                border-radius: 0px 5px 5px 0px;
            }
            select{
              background-color: #f1f1f1;
              border-radius: 5px 0px 0 5px;
              border: none;
              text-align: center;
              &:focus{
                outline: 5px solid #c2dbfe;
              }
            }
            div{
                width: 50px;
                border: none;
            }
        }
    }
    div:nth-of-type(3)
    {
      font-size: 14px;
      a
      {
        color: white;
        font-weight: bold;
        &:hover
        {
          outline: 1px solid white;
        }
      }
    }
  }

.dropdown-container{
  position: relative;
  .dropdown-btn{
    padding-top: 10px;
    font-size: 14px;
    position: relative;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:hover{
      outline: 1px solid white
    }
    .name{
      width: 112px;
      font-size: 12px;
      text-align: left;
      padding-left: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .dropdown-content{
    display: none;
    width: 200px;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    .signin-btn{
      text-align: center;
      margin-inline: auto;
      background-color: #FFD814;
      border-radius: 0.5em;
      border: none;
      width: 50%;
      a{
        color: black !important;
        margin-bottom: 10px;
      }
      &:hover{
        background-color: #f7ca00;
        text-decoration: underline;
      }
    }
    a{
      color: black !important;
      font-size: 13px;
      /* font-weight: 400; */
      padding-bottom: 5px;
      text-decoration: none;
      display: block;
      &:hover{
        outline: none !important;
        border: none;
        color: orange !important;
        text-decoration: underline;
      }
    }
  }
  &:hover .dropdown-content{
    display: block;
  }
}


  .lower-nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #232f3e;
      font-size: 14px;
      a{
        text-decoration: none;
        color: white;
        padding: 8px 9px;
        &:hover{
          outline: 1px solid white;
        }
      }
  }


  .burger-menu-contianer
  {
    height: 100%;
    padding: 8px 9px;
    .burger-menu
    {
      width: 20px;
      height: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    &:hover{
      outline: 1px solid white;
      cursor: pointer;
    }
  }

  .burger-menu div {
      width: 100%;
      height: 2px;
      border-radius: 20px;
      background-color: white;
      transition: all 0.3s ease;
    }

    .line1 {
      transform-origin: top left;
    }

    .line3 {
      transform-origin: bottom left;
    }

      .line1O {
      transform: rotate(45deg);
    }

      .line2O {
      opacity: 0;
    }

      .line3O {
      transform: rotate(-45deg);
    }


    .sidebar{
      background: white;
      height: 100vh;
      width: 400px;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      z-index: 10;
      transition: all 0.2s linear;
      /* translate: -250px; */
      button{
          background: transparent;
          border: none;
          text-align: left;
          &:hover{
              background-color: #eaeded;
          }
      }
    }

    .sidebar-opened{
      translate: 0px;
    }

    .overlay{
      background: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 7;
      width: 100%;
      height: 100vh;
      cursor: pointer;
    }
  /*
  .dropdown-menu{
      text-align: center;
  } */


  .authbar{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    width: 100%;
    padding-left: 27px;
    background-color: #232f3e;
  }

  .authbar img{
    height: 27px;
    width: 27px;
  }
  .authbar h4{
    color: #ffffff;
    font-weight: bolder;
  }

  .Change-Address{
    background-color: transparent;
    border: none;
    color: white;
    &:hover
    {
      outline: 1px solid white;
    }
  }
@media (width < 820px)
{
  #title{
    display: flex;
    align-items: center;
  }
  .burger-menu-contianer-res
  {
    display: block !important;
  }

  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .input-container
  {
    flex-grow: 2;
  }
  .links{
    display: none !important;
  }
  .lower-nav{
    display: none;
  }
}
