<div class="cart-card">
    <img src={{prop.pictureUrl}} alt="Soundcore a3991h11" class="card-image">
    <div class="card-info">
        <p>{{prop.productName}}</p>
        <p><strong>In Stock</strong></p>
        <p>Eligible for FREE delivery</p>
        <p><span class="limited-time">35% off</span> Limited time deal</p>
        <div class="card-actions">
            <label for="qty3">Qty:</label>
            <select id="qty3" [size]="prop.quantity">
               <option *ngFor='let in of Quantity();let i = index'>{{i+1}}</option>
            </select> |
            <button (click)="Delete()" class="btn link-danger">Delete</button> | <button >Save for later</button> | <button>Share</button>
        </div>
    </div>
    <div class="card-price">
        <p><span class="discount-price">{{Discount()}}</span></p>
        <p><span class="list-price">List Price: EGP{{prop.price}}</span></p>
    </div>
</div>