

 
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.cart-card { 
    width: 100%;   
    display: grid;
    grid-template-columns:  25% 1fr 25%;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}

.cart-card:last-child {
    border-bottom: none;
}

.card-image {
    min-width: 180px;
    min-height: 180px;
    max-width: 180px;
    max-height: 180px;
    margin-right: 10px;
    object-fit: contain;
    grid-row-start: 1 2;
    align-self:center ;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.card-info p {
    margin-bottom: 5px;
    color: #333;
}

.card-actions {
    margin-top: 10px;
}

.card-actions button {
    color: #007185;
    text-decoration: none;
    margin-left: 10px;
}

.card-actions select {
    margin-right: 10px;
}

.card-price {
    text-align: right;
    color: #b12704;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.discount-price {
    color: #CC0C39;
}

.list-price {
    color: #565959;
    text-decoration: line-through;
}

.limited-time {
    color: #fffefe;
    font-weight: bold;
    background-color: #CC0C39;
    padding: 2px 4px;
    border-radius: 3px;
}

.subtotal {
    text-align: right;
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

.subtotal span {
    font-weight: bold;
    color: #b12704;
}



.a-icon-text-separator, .a-text-separator {
    display: inline-block;
    margin: -2px .67375em 0;
    width: 1px;
    background-color: #ddd;
    line-height: 0;
    height: 14px;
    vertical-align: middle;
}

.a-icon {
    background-image: url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
    -webkit-background-size: 400px 900px;
    background-size: 400px 900px;
    background-repeat: no-repeat;
  }












