<div class="Container">

    <aside class="p-4" style="border-right: 1px solid gray; width: 300px;">
        <div class="mb-2">
            <h6>Fulfilled by Amazon</h6>
            <input type="checkbox" id="FulfilledbyAmazon">
            <label for="FulfilledbyAmazon" class="mx-1">Fulfilled by Amazon</label>
        </div>
        <div>
            <h6>Eligible for Free Shipping</h6>
            <input type="checkbox" id="FreeShipping">
            <label for="FreeShipping" class="mx-1">Free Shipping</label>
        </div>
        <div>
            <h6>Price</h6>
            <div>
                <input type="text" placeholder="Min Value" id="minValue">
                <input type="text" placeholder="Max Value" id="maxValue">
            </div>
            <!-- <input type="range" id="price" min="1" max="1000000"> -->
        </div>
        <button (click)="filterProducts()">filter</button>
    </aside>

    <main>
        <div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sort By
                </button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" (click)="LowtoHighSort()">Price: Low to High</button></li>
                    <li><button class="dropdown-item" (click)="HightoLowSort()">Price: High to Low</button></li>
                </ul>
              </div>
        </div>
        <div>
        </div>
    </main>
</div>