<div>
    <aside class="p-4" style="border-right: 1px solid gray; width: 300px;">
        <div class="mb-2">
            <h6>Fulfilled by Amazon</h6>
            <input type="checkbox" id="FulfilledbyAmazon">
            <label for="FulfilledbyAmazon" class="mx-1">Fulfilled by Amazon</label>
        </div>
        <div>
            <h6>Eligible for Free Shipping</h6>
            <input type="checkbox" id="FreeShipping">
            <label for="FreeShipping" class="mx-1">Free Shipping</label>
        </div>
        <div>
            <h6>Price</h6>
            <input type="range" id="FreeShipping" min="1" max="1000">
        </div>
    </aside>

    <main>

    </main>
</div>