<div class="navLeftFooter nav-sprite-v1" id="navFooter">
  
    <a href="#nav" id="navBackToTopbtn" aria-label="Back to top" class="py-3">
        Back to top
    </a>
    
      
    <div class="footer-second-section p-2">

        <div class="second-section">

            <div>
                <h6>Get to Know Us</h6>
                <ul>
                    <li class="nav_first">
                    <a href="/-/en/b?node=22624915031" class="nav_a">About Amazon</a>
                    </li>
                    <li>
                    <a href="http://amazon.jobs" class="nav_a">Careers</a>
                    </li>
                    <li class="nav_last ">
                    <a href="https://www.amazon.science" class="nav_a">Amazon Science</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6>Shop with Us</h6>
                <ul>
                    <li class="nav_first">
                      <a href="https://www.amazon.eg/-/en/gp/css/homepage.html?ref_=footer_ya" class="nav_a">Your Account</a>
                    </li>
                    <li>
                      <a href="https://www.amazon.eg/-/en/gp/css/order-history?ref_=footer_yo" class="nav_a">Your Orders</a>
                    </li>
                    <li>
                      <a href="https://www.amazon.eg/-/en/a/addresses?ref_=footer_yad" class="nav_a">Your Addresses</a>
                    </li>
                    <li class="nav_last ">
                      <a href="/-/en/gp/registry/wishlist?requiresSignIn=1&amp;ref_=footer_wl" class="nav_a">Your Lists</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6>Make Money with Us</h6>
                <ul>
                    <li class="nav_first">
                      <a href="https://brandservices.amazon.eg/?ref=AOEGABRLGNRFOOT&amp;ld=AOEGABRLGNRFOOT" class="nav_a">Protect and build your brand</a>
                    </li>
                    <li>
                      <a href="https://advertising.amazon.eg/?ref=footer_advtsing_eg" class="nav_a">Advertise Your Products</a>
                    </li>
                    <li>
                      <a href="https://sell.amazon.eg/beginners-guide.html?lang=en-US&amp;ref_=AZEGSOA_footer_sell_EN&amp;ld=AZEGSOA_footer_sell_EN" class="nav_a">Sell on Amazon</a>
                    </li>
                    <li>
                      <a href="https://sell.amazon.eg/fulfillment-by-amazon.html?lang=en-US&amp;ref_=AZEGSOA_footer_FBA_EN&amp;ld=AZEGSOA_footer_FBA_EN" class="nav_a">Fulfillment by Amazon</a>
                    </li>
                    <li class="nav_last ">
                      <a href="https://supply.amazon.com/?ref_=footer_sta&amp;lang=en-AE" class="nav_a">Supply to Amazon</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6>Let Us Help You</h6>
                <ul>
                    <li class="nav_first">
                      <a href="/-/en/gp/help/customer/display.html?nodeId=508510" class="nav_a">Help</a>
                    </li>
                    <li>
                      <a href="/-/en/gp/help/customer/display.html?nodeId=201910060&amp;ref_=footer_shiprates" class="nav_a">Shipping &amp; Delivery</a>
                    </li>
                    <li>
                      <a href="/-/en/spr/returns" class="nav_a">Returns &amp; Replacements</a>
                    </li>
                    <li>
                      <a href="https://www.amazon.eg/-/en/your-product-safety-alerts?ref_=footer_bsx_ypsa" class="nav_a">Recalls and Product Safety Alerts</a>
                    </li>
                    <li class="nav_last ">
                      <a href="/-/en/b?node=22624924031" class="nav_a">Amazon App Download</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="nav-footer-line"></div>
    </div>
    
    
      <div class="navFooterLine navFooterLinkLine navFooterPadItemLine">
        <span>

            <div class="navFooterLine navFooterLogoLine">
                <a aria-label="Amazon Egypt Home" href="/-/en/?ref_=footer_logo">
                    <div class="nav-logo-base nav-sprite"></div>
                </a>
            </div>
        </span>
        
        <span class="icp-container-desktop"><div class="navFooterLine">
    <style type="text/css">
      #icp-touch-link-language { display: none; }
    </style>
    
    
    <a href="/-/en/customer-preferences/edit?ie=UTF8&amp;preferencesReturnUrl=%2F&amp;ref_=footer_lang" aria-label="Choose a language for shopping." class="icp-button" id="icp-touch-link-language">
      <div class="icp-nav-globe-img-2 icp-button-globe-2"></div><span class="icp-color-base">English</span><span class="nav-arrow icp-up-down-arrow"></span>
    </a>
    
    
    
    <style type="text/css">
    #icp-touch-link-country { display: none; }
    </style>
    <a href="/-/en/customer-preferences/country?ie=UTF8&amp;preferencesReturnUrl=%2F&amp;ref_=footer_icp_cp" aria-label="Choose a country/region for shopping." class="icp-button" id="icp-touch-link-country">
      <span class="icp-flag-3 icp-flag-3-eg"></span><span class="icp-color-base">Egypt</span>
    </a>
    </div></span>
        
      </div>
      
      
      <div class="third-section-parent">
          <div class="third-section">
              <div class="row p-4">
      
                  <div>
                      <a href="https://advertising.amazon.com/?ref=footer_advtsing_2_eg">Amazon Advertising<br><span class="navFooterDescText"> Find, attract, and<br>engage customers</span></a>
                  </div>
      
                  <div>
                      <a href="https://sell.amazon.eg/?lang=en-US&amp;ref_=AZEGSOA_footer_affiliate_EN&amp;ld=AZEGSOA_footer_affiliate_EN">Sell on Amazon<br><span class="navFooterDescText">Scalable Cloud<br>Computing Services</span></a>
                  </div>
      
                  <div>
                      <a href="https://aws.amazon.com/what-is-cloud-computing/?sc_channel=EL&amp;sc_campaign=AE_amazonfooter">Amazon Web Services<br><span class="navFooterDescText"> Find, attract, and<br>engage customers</span></a>
                  </div>
      
                  <div>
                      <a href="https://www.goodreads.com/">Goodreads<br><span class="navFooterDescText">Book reviews<br>&amp; recommendations</span></a>
                  </div>
      
              </div>
      
              <div class="row p-4">
                  <div>
                      <a href="https://www.audible.com/">Audible<br><span class="navFooterDescText">Download<br>Audio Books</span></a>
                  </div>
                  
                  <div>
                      <a href="https://www.imdb.com/">IMDb<br><span class="navFooterDescText">Movies, TV<br>&amp; Celebrities</span></a>
                  </div>
      
                  <div>
                      <a href="http://www.alexa.com/">Alexa<br><span class="navFooterDescText">Actionable Analytics<br>for the Web</span></a>
                  </div>
      
                  <div>
                      <a href="http://www.shopbop.com/welcome">Shopbop<br><span class="navFooterDescText">Designer<br>Fashion Brands</span></a>
                  </div>
              </div>
            
            
          
            
              <div class="nav-end p-4">
                
                  <a href="/-/en/gp/help/customer/display.html?nodeId=201909000&amp;ref_=footer_cou">Conditions of Use &amp; Sale</a>
              
                  <a href="/-/en/gp/help/customer/display.html?nodeId=201909010&amp;ref_=footer_privacy">Privacy Notice</a> 
              
                  <a href="/-/en/gp/help/customer/display.html?nodeId=202075050&amp;ref_=footer_ads">Interest-Based Ads</a> 
                  
                  <br>
              
                  <span>©1996–2024, Amazon.com, Inc. or its affiliates</span>
              </div>
              
          </div>  
      </div>
    
      
    
      