<div class="popub-overlay" *ngIf="!showAddressForm">
    <div class="popub-box">
        <div class="popup-header">
            <h2>Choose your address</h2>
            <button class="close-button" (click)="closeForm()">&times;</button>
        </div>

        <div class="saved-addresses">
            <div class="container">
                <div 
                    class="address-box" 
                    *ngFor="let address of savedAddresses">
                    <input type="radio"
                    id="{{address.id}}"
                    name="selectedAddress" 
                    (click)="onSelectAddress(address)"
                    [checked]="selectedAddress === address">

                    <label for="{{address.id}}">
                        <p>{{ address.firstName }} {{ address.lastName }},
                            {{address.governorate}},
                            {{address.city}},
                            {{ address.country }}
                        </p>
                    </label>
                </div>
            </div>
            <button class="manage-address-button" (click)="goToAddressBook()">Manage Address Book</button>
            <div class="containerbutton">
                <div class="form-buttons">
                    <button class="use-address" (click)="onSetDefaultAddress()">Done</button>
                </div>
            </div>
        </div>

    </div>
</div>