.popub-overlay{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popub-box {
    position: relative;
    /* top:50%;
    left:50%;
    transform:translate(-50%,-50%);*/
    display: flex;                      /* Use flexbox for layout */
    flex-direction: column;   
    height: 600px; 
    width: 375px;
    background-color: white;
    border-radius: 8px;
    /* padding: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    /* max-width: none; */
    max-height: 85vh;
    z-index: 1001;
    overflow-y: auto;
}
.popup-header {
    background-color: #d5d9d9;
    padding: 25px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    /* width: 345px; */
  }
.popup-header h2 {
    margin: 0;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
}

.close-button:hover {
    color: #cebfbf;
}
h2{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.form-group{
    /* display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; */
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}

input[type="text"]{
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 12px;
}
input[type="text"]:focus {
    border-color: #007bff; 
    outline: none;
}
.form-buttons{
    display: flex;
    justify-content: space-between;
    padding: 10px; 
}
.form-add-buttons{
    display: flex;
    position: relative;
    justify-content: space-around;
}
button.use-address {
    background-color: #ffd814;
    color: black;
    border-radius: 100px; 
    padding: 8px 20px;
    font-size: 14px;
    border: 1px solid #ffd814; 
    cursor: pointer;
    position: relative;
    left: 10px; 
    transition: background-color 0.3s ease;
}
.use-address:hover {
    background-color: #ebae16;
  }

.addNew-address {
    background: transparent;
    color: rgb(76, 76, 185);
    border: none;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    right: 10px; 
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  .addNew-address:hover {
    background-color: transparent;
    color: rgb(33, 29, 88);
    text-decoration: underline;
  }

.manage-address-button {
    margin-top: 10px;
     
  }
button{
    padding: 12px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}

/* button[type="button"] {
    background-color: #6c757d;
}

button[type="button"]:hover {
    background-color: #5a6268;
} */
.saved-addresses {
    flex-grow: 1;
    overflow-y: auto;
    
    
}
.address-box{
    border:1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    transition: border 0.3s;
}

.address-box.selected {
    border-color: #007bff;
    background-color: #e6f7ff;
}
.address-box:hover {
    background-color: #f1f1f1;
}

.confirmation-message {
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}



.manage-address-button {
    background-color: transparent;
    color: #007185;
    /* width: 100%; */
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto; 
    margin-top: 15px;
}
.manage-address-button:hover {
    color: #2c0c77;
    text-decoration: underline;
    background-color: transparent;
    border: none;
}
  