
<div routerLink="/product/{{product.id}}"   class="product-card"  [ngClass]="{'show': cardVisible}">
      <!-- Product Image -->
    <div class="product-image">
      <img src={{product.pictureUrl}} alt="Apple iPhone 13 - Pink" />
    </div>
  
    <!-- Product Information -->
    <div class="product-info">
      <h3>{{product.name}}</h3>
      <h3>{{product.description}}</h3>
      <!-- Ratings -->
      <div class="product-rating">
        <span class="stars">
          @for(star of GetRatingArray(1);track $index){
            @if(star){
              <i class="fa-solid fa-star" style="color: orange;"></i>
            }
            @else{
              <i class="fa-regular fa-star" style="color: orange;"></i>
            }
          }
        </span>
        <span class="reviews">({{ 11 }})</span>
      </div>
      
  
      <!-- Pricing Section -->
      <div class="pricing">
        @if(product.discount !=null){
          <div class="discount-info">
            <span class="discount">
            <span class="discount-percentage">-{{Discount()}}% off</span>
            </span>
            <span class="discount-text">
            <span >Limited Time Deal</span>
            </span>
          </div>
          <span class="current-price">{{ product.discount.priceAfterDiscount.toFixed(2) | currency:'EGP' }}</span>
          <br/>
          <span class="old-price">List:{{ product.price.toFixed(2) | currency:'EGP' }}</span>
          <br/>
          <div class="price-note text-danger">Lowest Price in {{DiscountTimeOut().toString()}} days</div>
        }
        @else{
          <span class="current-price">{{ product.price.toFixed(2) | currency:'EGP' }}</span>
        }
      </div>
  
      <!-- Availability Information -->
      <div class="availability">
        @if(product.discount !=null){
        <p>Get it as soon as <strong>{{ DiscountEndDate() | date: 'EEEE, d MMMM' }}</strong></p>
      }
        <p>Fulfilled by Amazon - FREE Shipping</p>
        @if (product.quantityInStock < 10)
        {
          <p class="text-danger">Only {{product.quantityInStock}} left in stock - order soon.</p>
        }
      
        </div>
    </div>
  
    <!-- Actions Section -->
    <div class="product-actions">
      <button (click)="AddToCart()" class="add-to-cart-btn rounded-pill " >Add to Cart</button>
    </div>
</div>
  