<div class="reviews-list-conteiner">
  <h3>Reviews from Egypt </h3>
  @if(productReviews.length != 0){
  @for (review of productReviews; track $index) {
  <div class="reviewer">
    <img src="https://m.media-amazon.com/images/S/amazon-avatars-global/default.png" class=""
      data-src="https://m.media-amazon.com/images/S/amazon-avatars-global/default.png">
    <p> {{ review.appUserName }} </p>
    <div class="dropdown" style="width: fit-content; height: fit-content;">
      <button [disabled]="!isAuthenticated" *ngIf="review.appUserName === userName" type="button" class="btn btn-warning px-1 py-0 m-0" data-bs-toggle="dropdown"><i
          class="bi bi-three-dots m-0"></i></button>
      <ul class="dropdown-menu">
        <li (click)="navigateWithObject(productId,productName,review)">Edit</li>
        <li (click)="delete(review.id)">Delete</li>
      </ul>
    </div>
  </div>
  <div class="product-rating">
    <span class="stars">
      @for(star of GetRatingArray(review.rating);track $index){
      @if(star){
      <i class="fa-solid fa-star" style="color: orange;"></i>
      }
      @else{
      <i class="fa-regular fa-star" style="color: orange;"></i>
      }
      }
    </span>
    <strong class="review-headline">{{ review.reviewHeadLine }}</strong>
  </div>
  <span class="review-date">Reviewed in Egypt on {{ReviewDate(review.reviewDate) | date: 'EEEE, d MMMM' }} </span>
  <div class="review-text">
    <p>{{review.reviewText}}</p>
  </div>
  <div class="split-line">
  </div>
  }
  }
  @else {
  <div class="split-line">
  </div>
  <h5 style="margin: 0px 8px;">No Reviews</h5>
  }
</div>