<main>
    <div class="form p-4">
        <h3>Login</h3>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">User Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="User Name">
        </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Password</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
        </div>
    </div>
</main>