<main class="p-4">
  <h1 class="p-3 mb-2 bg-success text-white">Verified Products</h1>
  <section>
    <div *ngIf="products.length > 0" style="width: 100%;" class="table-container" >
      <table class="table table-striped">
  
        <thead class="table-dark">
          <tr>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Brand</th>
            <th>Sales</th>
            <th>Action</th>
            <th>Action</th>
            <th>Seller</th>
          </tr>
        </thead>

        <tbody>
          <!-- Sample data loop - bind this to your product list in your component -->
          <tr *ngFor="let product of products">
            <td [routerLink]="['/seller/product-details',product.id]" style="cursor: pointer">{{ product.name }}</td>
            <td>{{ product.brandName }}</td>
            <td>{{ product.price | currency }}</td>
            <td>{{ product.categoryName }}</td>
            <td>{{ product.quantityInStock }}</td>
            <td>{{ product.brandName }}</td>
            <td>
              @if (product.discount) {
              <p>{{product.discount.discountPercentage*100}}%</p>
              }
              @else {
              <p>No sale</p>
              }
            </td>
            <td>
              <button (click)="edit(product)" class="btn btn-success">Edit Product <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="selectProduct(product.id)"(click)="selectProductName(product.name)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete <i class="bi bi-trash3-fill"></i>
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header" style="background-color: #CC0C39;">
                      <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">Warning</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5>Do you want to delete : {{selectedProductName}}</h5>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" (click)="deleteProduct(selectedProductId)" class="btn" data-bs-dismiss="modal"
                        style="background-color: #CC0C39; color: white;">Save
                        changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <p>{{product.sellerName}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center" *ngIf="products.length == 0">
      <table class="product-table" class="table table-striped">
        <thead class="table-success">
          <tr>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Sales</th>
            <th>Action</th>
            <th>Action</th>
            <th>Reviews</th>
            <th>Seller</th>
          </tr>
        </thead>
      </table>
      <img src="No_Product_Found.png" style="text-align: center; width: 100%;" alt="">
    </div>

  </section>
</main>
