
<header>
  <nav id="nav">
    <div class="nav p-1 navbar">
      <div id="title">
        <a [routerLink]="['/']" class="p-3">
          <img src="Amazon_Seller_Central_logo_White.svg" alt="">
        </a>
      </div>
      <div class="input-container">
        <div class="action-buttons d-flex">
          <a [routerLink]="['/seller/add-product']"  class="btn btn-warning mx-3 my-1">Add Product +</a>
        </div>
      </div>
      <div style="display: flex;" class="links">
        <div class="dropdown-container">
          <button class="dropdown-btn">Account & Lists</button>
          <div class="dropdown-content p-2">
            <div style="display: flex;">
              <div>
                <h5>Your Account</h5>
                <a href="#">Your Account</a>
                <a href="#">Your Orders</a>
                <a href="#">Your Addresses</a>
                <a href="#">Your Lists</a>
                @if(isAuthenticated)
                {
                <a (click)="signOut()">Sign Out</a>
                }
                @else
                {
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>

  <section>
    <div *ngIf="products.length >0" style="width: 100%;" class="table-container" >
      <table  style="width: 100%;">
        <thead style="width: 100%;"> 
          <tr style="width: 100%;">
            <th>Product Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Brand</th>
            <th>Sales</th>
            <th>Action</th>
            <th>Action</th>
            <th>Seller</th>
          </tr>
        </thead>
        <tbody>
          <!-- Sample data loop - bind this to your product list in your component -->
          <tr *ngFor="let product of products">
            <td [routerLink]="['/seller/product-details',product.id]">{{ product.name }}</td>
            <td>{{ product.brandName }}</td>
            <td>{{ product.price | currency }}</td>
            <td>{{ product.categoryName }}</td>
            <td>{{ product.quantityInStock }}</td>
            <td>{{ product.brandName }}</td>
            <td>
              @if (product.discount) {
              <p>{{product.discount.discountPercentage*100}}%</p>
              }
              @else {
              <p>No sale</p>
              }
            </td>
            <td>
              <button (click)="edit(product)" class="btn btn-success">Edit Product</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="selectProduct(product.id)"(click)="selectProductName(product.name)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
              </button>              
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header" style="background-color: #CC0C39;">
                      <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">Warning</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5>Do you want to delete : {{selectedProductName}}</h5>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" (click)="deleteProduct(selectedProductId)" class="btn" data-bs-dismiss="modal"
                        style="background-color: #CC0C39; color: white;">Save
                        changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <p>{{product.sellerName}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center" *ngIf="products.length == 0">
      <table class="product-table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Sales</th>
            <th>Action</th>
            <th>Action</th>
            <th>Reviews</th>
            <th>Seller</th>
          </tr>
        </thead>
      </table>
      <img src="No_Product_Found.png" style="text-align: center; width: 100%;" alt="">
    </div>

  </section>
</main>