main
{
    overflow-x: hidden;
    background: #e3e6e6;
}
.home-card-container{
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* top: -400px; */
    .home-card{
        top: -20px;
        background: white;
        width: 340px;
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
            width: 100%;
        }
        .link{
            width: 100%;
            a{
                text-decoration: none;
                color: #007185;
            }
        }
    }
}